*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-mytasks-container {
    justify-content: flex-start;
  }
  .list-mytasks{
    margin-top: 40px;
    margin-left: 110px;
  }
  .mytask {
    display: flex;
    flex-wrap: wrap;
  }
  .title-header-mytasks{
    margin-bottom: 30px;
    margin-left: 10px;
  }