* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projects-container {
  display: flex;
    margin: 0 auto;
    justify-content: flex-start;
}
.projects-list{
  margin-top: 40px;
  margin-left: 110px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none !important;
}
.projects-list a {
  text-decoration: none;
  color: #0f2d4e;
}
