.projects-container {
  display: flex;
  justify-content: flex-start;
}
.projects-list{
  margin-top: 40px;
  margin-left: 110px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none !important;
}
.title-header{
  margin-bottom: 30px;
  margin-left: 10px;
}
.projects-list a {
  text-decoration: none;
  color: #0f2d4e;
}
