* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.project-item-for-home-page {
    overflow-y: scroll;
    width: 260px;
    height: 90px;
    outline: 2px solid #d3dde7;
    border-radius: 7px;
    color: #0f2d4e;
    margin: 10px;
    word-wrap: break-word;
}

::-webkit-scrollbar {
    width: 2px;
    background-color: #d2d8df;
    border-radius: 10px;
}

.name-project-for-home-page {
    margin: 10px;
}

.status-project-for-home-page {
    font-size: 14px !important;
    background-color: #d4e2f1;
    border-radius: 7px;
    padding-inline: 20px;
    display: inline-block;
}